<main
  class="mx-auto my-5 overflow-y-scroll h-110 min-w-full"
  *ngIf="noteList.length != 0; else Empty"
>
  <div *ngFor="let note of noteList; index as i" class="px-2 py-2">
    <div [ngClass]="i % 2 === 0 ? 'even p-5' : 'odd p-5'">
      <p
        class="text-xl text-neutral-900 font-serif font-extrabold hover:underline py-2 md:text-3xl"
      >
        {{ note.heading }}
      </p>
      <div class="flex flex-col justify-between whitespace-pre-wrap md:flex">
        <div
          class="w-11/12 text-sm font-mono md:text-base"
          *ngIf="targetIndex === i; else elseBlock"
        >
          {{ note.content }}
        </div>
        <ng-template #elseBlock>
          <p class="w-6/12 font-mono md:w-9/12">
            {{ note.content | compress }}...
          </p>
        </ng-template>
        <div class="flex flex-row space-x-16 items-center place-content-end">
          <button (click)="expand(i)">
            <img
              class="w-5"
              title="Expand"
              src="./assets/expand.png"
              alt="expand"
            />
          </button>
          <button (click)="contract(i)">
            <img
              src="./assets/collapse.png"
              class="w-5"
              title="Collapse"
              alt="collapse"
            />
          </button>
          <button (click)="deleteNote(i)">
            <img
              src="./assets/bin.png"
              class="w-5"
              title="Delete"
              alt="delete"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
<ng-template #Empty>
  <div class="items-center w-9/12 shadow-2xl p-5 rounded-3xl mx-auto my-44">
    <p class="text-neutral-900 text-center text-lg">
      No Notes Have Been saved!
    </p>
  </div>
</ng-template>
