@tailwind base;
@tailwind components;
@tailwind utilities;

.even {
  background-color: rgba(239, 241, 119, 0.89);
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.odd {
  background-color: rgba(200, 212, 204, 0.4);
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.4);
}
