<main
  class="mx-2 my-5 bg-slate-200 overflow-y-scroll h-110"
  *ngIf="noteList.length != 0; else Empty"
>
  <div *ngFor="let note of noteList; index as i" class="px-8 py-8">
    <div [ngClass]="i % 2 === 0 ? 'even p-5' : 'px-5'">
      <p
        class="text-3xl text-neutral-900 font-serif font-extrabold hover:underline py-2"
      >
        {{ note.heading }}
      </p>
      <div class="flex justify-between whitespace-pre-wrap">
        <div
          class="font-mono w-11/12"
          *ngIf="targetIndex === i; else elseBlock"
        >
          {{ note.content }}
        </div>
        <ng-template #elseBlock>
          <p class="font-mono">{{ note.content | compress }}...</p>
        </ng-template>
        <div class="flex space-x-3 place-items-start">
          <button (click)="expand(i)">
            <img
              class="w-5"
              title="Expand"
              src="./assets/expand.png"
              alt="expand"
            />
          </button>
          <button (click)="contract(i)">
            <img
              src="./assets/collapse.png"
              class="w-5"
              title="Collapse"
              alt="collapse"
            />
          </button>
          <button (click)="deleteNote(i)">
            <img
              src="./assets/bin.png"
              class="w-5"
              title="Delete"
              alt="delete"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
<ng-template #Empty>
  <div class="items-center w-110 shadow-2xl p-5 rounded-3xl mx-auto my-44">
    <p class="text-neutral-900 text-center text-lg">
      No Notes Have Been saved!
    </p>
  </div>
</ng-template>
