<div
  class="text-sm bg-teal-400 ml-auto flex justify-between min-w-fit md:text-base"
>
  <div class="flex items-center">
    <h1 class="text-2xl px-7 text-black-900 font-mono">Notes Keeper</h1>
  </div>
  <nav>
    <ul class="flex text-xl space-x-12 mx-14 py-3 justify-end">
      <li class="cursor-pointer hover:text-fuchsia-50" routerLink="/">
        Saved Notes
      </li>
      <li class="cursor-pointer hover:text-fuchsia-50" routerLink="/add-note">
        Add a Note
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
