<main class="py-14 px-2 bg-slate-100 space-y-14">
  <div class="flex flex-col space-y-3 md:flex-row md:space-x-8">
    <div class="flex items-center ml-auto mr-auto shrink-0 w-64">
      <img src="./assets/note.png" alt="Diary" />
    </div>
    <div class="flex flex-col items-center w-full shadow-2xl p-8 rounded-3xl">
      <p class="text-xl font-extrabold text-purple-900 text-center underline">
        Add a Note
      </p>
      <form
        [formGroup]="noteForm"
        class="flex flex-col space-y-5 w-full"
        (ngSubmit)="onSubmit()"
      >
        <label for="heading" class="text-2xl font-serif text-purple-900"
          >Heading</label
        >
        <input
          class="border-2 border-blue-500 rounded-lg my-5 p-5"
          type="text"
          formControlName="heading"
          id="heading"
          name="heading"
        />
        <label
          for="error"
          *ngIf="
            !noteForm.get('heading')?.valid && noteForm.get('heading')?.touched
          "
          class="font-extrabold text-red-500"
          >*Required Field
        </label>
        <label for="content" class="text-2xl font-serif text-purple-900"
          >Content
        </label>
        <textarea
          name="content"
          formControlName="content"
          class="border-2 border-blue-500 rounded-lg my-5 h-32 p-5"
        ></textarea>
        <label
          for="error"
          *ngIf="
            !noteForm.get('content')?.valid && noteForm.get('content')?.touched
          "
          class="font-extrabold text-red-500"
          >*Required Field
        </label>
        <button
          type="submit"
          [disabled]="!noteForm.valid"
          class="rounded-xl bg-blue-900 w-40 mx-auto hover:bg-lime-600 text-white p-3"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</main>
<footer></footer>
<hr />
