<main class="py-14 px-2 bg-slate-100 space-y-14">
  <div class="flex space-x-32">
    <div class="flex items-center shrink-0 w-64 ml-20">
      <img src="./assets/note.png" alt="Diary" />
    </div>
    <div class="flex flex-col items-center w-full shadow-2xl p-8 rounded-3xl">
      <p class="text-xl font-extrabold text-purple-900 text-center underline">
        Add a Note
      </p>
      <form class="flex flex-col space-y-5 w-full" (ngSubmit)="onSubmit()">
        <label for="heading" class="text-2xl font-serif text-purple-900"
          >Heading</label
        >
        <input
          class="border-2 border-rose-500 rounded-lg my-5 p-5"
          type="text"
          [(ngModel)]="heading"
          id="heading"
          name="heading"
        />
        <label for="content" class="text-2xl font-serif text-purple-900"
          >Content
        </label>
        <textarea
          name="content"
          [(ngModel)]="content"
          class="border-2 border-rose-500 rounded-lg my-5 h-32 p-5"
        ></textarea>

        <button
          type="submit"
          class="rounded-xl bg-blue-900 w-40 mx-auto hover:bg-lime-600 text-white p-3"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</main>
<footer>
  <div class="">
    <p class="text-3xl text-yellow-600 text-center">
      {{ message }}
    </p>
  </div>
</footer>
<hr />
